@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

:root {
    --blue-dnc: #0C70F2;
    --black-dnc: #303030;
    --silver: #C9C9C9;

    --font-default: 'Inter';
}

body {
    margin: 0;  
    padding: 0;  
    
    background: linear-gradient(180deg, rgba(12, 122, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    background-repeat: no-repeat;
}

#main {
    width: 100%;
    height: 100px;

    background-color: var(--black-dnc);
    border-bottom: 1px solid #BABABA;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main div a {
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    font-family: var(--font-default)
}

#main div a:hover {
    color: var(--silver)
}

.menu {
    display: flex;
    width: 55%;
    justify-content: space-between;

    margin-left: 5%;
}

#main button {
    margin-right: 5%;

    background-color: var(--blue-dnc);
    border: none;

    height: 40px;
    width: 80px;

    font-family: var(--font-default);
    font-size: 20px;
    font-weight: 600;
    color: #fff;

    box-shadow: 3px 2px 4px rgba(12, 122, 242, 0.25);
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 100px;
}

header {
    color: #FFF;
    font-family: var(--font-default);
}

header h1 {
    font-size: 80px;
    font-weight: 800;

    text-transform: uppercase;
    text-align: center;

    margin-bottom: 20px;
}

header h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;

    margin-bottom: 100px;
}

header .invert-text {
    background-color: black;
    font-weight: bold;

    padding: 5px;
}

form {
    color: #FFF;

    font-family: var(--font-default);
    font-size: 30px;
    font-weight: 600;
}

.form-group {
    display: flex;
    flex-direction: column;
    
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-group label {
    margin: 10px 0px;
}

.form-group input {
    border: none;
    border-radius: 10px;

    height: 40px;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9)
}

.form-group input::placeholder {
    color: rgba(57, 57, 57, 0.5);
}

.checkbox-items {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
}

.checkbox-items label {
    font-size: 25px;
}

input[type="checkbox"] {
    transform: scale(1.7);
}

button[type="submit"] {
    border: none;
    background-color: rgba(12, 112, 242, 0.9);

    width: 100%;
    height: 56px;

    color: #FFF;
    font-size: 32px;
    font-weight: 600;
    margin-top: 100px;
    box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer
}

footer { 
    width: 100%;
    background-color: var(--blue-dnc);
}

footer .line-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
}

footer h5 {
    text-align: center;
    
    background-color: var(--black-dnc);
    color: #FFF;

    font-weight: 800;
    font-size: 18px;
    font-family: var(--font-default);

    border-radius: 10px;

    padding: 10px;
    margin-bottom: 15px;
}

footer ul li {
    text-align: center;
    color: #FFF;
    font-weight: 600;
    font-size: 18px;
    font-family: var(--font-default);
    margin: 20px 0px;
}

footer ul li a {
    color: #FFF;
    text-decoration: none;
}

footer ul li a:hover {
    color: var(--silver)
}

footer .address {
    font-weight: 600;
    font-size: 18px;
    font-family: var(--font-default);

    color: #FFF;
    width: 20%;

    text-align: center;
}

footer .line-2 {
    display: flex;
    justify-content: center;

    margin: 10px 0px;
    height: 35px;
    padding: 10px;
}

footer .line-2 a {
    text-decoration: none;

    font-family: var(--font-default);
    font-size: 18px;
    font-weight: 600;
    
    color: #FFF;
    padding: 5px;
}

footer .line-2  a:first-child {
    border-right: 3px solid #FFF;
}

footer .line-2 a:hover {
    color: var(--silver);
}


@media only screen and (max-width: 600px) {

    #main {
        flex-direction: column;
        height: auto;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .menu a {
        display: flex;
        align-items: center;
        height: 50px;
    }

    #main button {
        width: 100%;
        margin: 0;
    }

    section h1 {
        font-size: 38px;
    }

    section h2 {
        font-size: 28px;
        padding: 0 15px;
    }

    form {
        width: 95%;
        font-size: 17px;
    }

    .checkbox-items label {
        font-size: 15px;
    }

    footer .line-1 {
        flex-direction: column;
    }

    footer .address {
        width: 95%;
        margin-bottom: 20px;
    }
}