@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
    --background-color: #2D2D2D;
    --font-default: 'Poppins';
    --blue: #0C70F2
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-default);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 50px;
}

    form input {
        border: none;
        height: 40px; 
        border-radius: 10px;
        margin-bottom: 15px;
        padding: 5px;
    }

    form input::placeholder {
        padding: 5px;
    }

    form input[type="submit"] {
        background-color: var(--blue);
        color: #FFF;
        font-weight: bold;
        font-size: 12pt;
        border-radius: 6px;
        margin-top: 50px;
    }

@media screen and (max-width: 480px) {

    header {
        width: 80%;
        font-size: 8pt;
    }

    header img {
        height: 50px;
        margin-top: 10px;
    }

    main {
        width: 80%;
        display: flex;
        justify-content: center;
    }

    form {
        width: 90%;
    }



}